node_modules/
.env
.env.*
!.env_example
.DS_Store
*.log
coverage/
.vscode/
.idea/
dist/
build/
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
